*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $default-font-size;


    @include respond(tab-land) {
        font-size: 85%;
    }
    @include respond(tab-port) {
        font-size: 70%;
    }
    @include respond(big-desktop) {
        font-size: 100%;
    }
}

body {
    box-sizing: border-box;
}